<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Search</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        {% for im in imname %}
            <div class="col-md-3">
                <a href="/search/{{ im[10:] }}" ><img src="../static/{{ im }}" width="200px" height="150px" class="img-rounded"></a>
            </div>
        {% endfor %}
    </div>
</div>

</body>
</html>